/* *** commons *** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.mb {
    margin-bottom: 100px;
}

main .subtitles{
    font-size: 30px;
    margin-bottom: 30px;
}

a {
    color: #0061ff;
    font-size: 13px;
}
/* *** clearfix e float *** */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}




/* *** buttons sets *** */
.btn {
    /* height: 30px; */
    color: white;
    font-size: 13px;
    background-color: #0061ff;
    border: none;
    padding: 5px 15px;
}

.btn:hover {
    cursor: pointer;
}

#large.btn {
    width: 100%;
}

.custom-btn {
    width: 25%;
    text-align: center;
    margin: 35px 0;
}

#white.btn {
    color: black;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
}

#clear.btn {
    width: 100%;
    color: black;
    background-color: white;
    border: none;
}

/* *** header *** */
header {
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 2px solid lightgray;
    /* max-width: 1170px; */
    line-height: 96px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#logo {
    /* width: 10%; */
    margin-left: 10px;
}

#logo img {
    height: 25px;
    vertical-align: text-bottom;
}

/* header > nav {
    width: 35%;
} */

header nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 25px;
}

header li:hover {
    border-bottom: 2px solid #0061ff;
}

header nav ul li a {
    color: black;
    /* vertical-align: middle; */
    text-decoration: none;
    display: inline-block;
}

#login {
    /* width: 5%; */
    margin-right: 10px;
}

/* #login .btn {
    width: 60px;
    color: white;
    background-color: #0061ff;
    border: none;
} */

/* *** jumbotron *** */
.jumbotron {
    width: 100%;
    /* height: 800px; */
    padding-top: 100px;
    background-color: #b4d0e7;
    /* background: linear-gradient(#b4d0e7 0%, #b4d0e7 95%, white 5%); */
}

.jumbo-container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    bottom: -80px;
}

h1 {
    padding-bottom: 30px;
    font-size: 65px;
}

.jumbotron .text {
    width: 40%;
    padding-right: 110px;
    font-size: 16px;
    line-height: 1.2;
}

.text p:nth-of-type(2) {
    font-size: 14px;
}

.jumbotron .btn {
    width: 200px;
}

#arrow {
    /* margin: 30px 0; */
    font-size: 40px;
}

.jumbo-img {
    width: 60%;
}

.jumbo-img img {
    width: 100%;
}

/* *** main *** */
.main-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 150px;
}

.plan section h2 {
    font-size: 35px;
    margin: 30px 0;
}

/* *** format circles *** */
.main-container .circle {
    height: 50px;
    line-height: 30px;
}

.circle span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.circle span::before {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    content: "";
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
}

#mo::before {
    border: 3px solid #0061ff;
}

#yr::before {
    width: 13px;
    height: 13px;
    border: 1px solid lightgray;
}

.main-container .prezzi .colonne {
    height: 950px;
}

.main-container .colonne {
    margin: 25px 0;
}

.main-container .col {
    width: calc(100% / 3 - 33.3333px);
    border: 1px solid lightgray;
    /* height: 900px; */
    min-height: 100%;
}

.main-container .row {
    border: 1px solid lightgray;
    height: 250px;
}

.colonne .col:nth-of-type(2) {
    margin: 0 50px;
}

/* *** format colonne *** */
.plan > section,
.plan > div,
.info
.row section > h3, p {
    margin: 20px 0;
}

section > p, .plan span {
    font-size: 13px;
}

.icon {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 8px 0;
}

.col .col-content,
.col .info,
.row section {
    padding: 0 30px;
}

main hr {
    color: lightgray;
    width: 20%;
    margin: 25px 25px;
}

.plan > p {
    font-size: 13px;
}

.info > p {
    margin: 25px 0;
}

.info  p > i {
    color: #0061ff;
}

/* *** sezione foto main *** */
.main-container .content-middle {
    margin: 100px 0;
}

.main-container .foto {
    width: 50%;
}
.foto img {
    width:  100%;
}

.main-container .foto-text {
    width: 45%;
    margin-top: 5%;
    margin-left: 5%;
}

/* +** sezione cards *** */

main .main-container .dropbox-cards {
    width: 100%;
}

main .main-container .card {
    width: calc(100% / 3 - 40px);
    margin-bottom: 50px;
}

div .card:nth-child(3n+2) {
    margin: 0 60px;
  }

main div .card img {
    width: 100%;
}

.caption #underline {
    text-decoration: underline;
}

/* *** main-bottom *** */

main .main-bottom {
    width: 45%;
}

main .box-container {
    margin-top: 50px;
    width: 100%;
}

main .box-sx {
    width: 30%;
}

main .box-centr {
    width: 40%;
}

main .box-dx {
    width: 30%;
}
/* *** format box *** */

.box {
    height: 50%;
    width: 50%;
    position: relative;
}

main .box-container .box-sx,
main .box-container .box-centr,
main .box-container .box-dx {
    height: 400px;
}


main .box-container .company {
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

main .box-centr {
    height: 400px;
    background-color: #f5f5f5;
}

main .box-centr #centre {
    width: 250px;
    padding: 30px;
}

main .box-centr p {
    padding: 0 30px;
}

#cube_1 {
    background-color: #a3d49d;
    border: 5px solid #d1eace;
}

#cube_2 {
    background-color: #610227;
}

#cube_3 {
    background-color: #0094cf;
}

#cube_4 {
    background-color: #ff1616;
}

#cube_6 {
    background-color:
    #d60019;
}

#cube_7 {
    background-color: #b5d1e8;
}

#cube_8 {
    background-color: #051f82;
}

#cube_9 {
    background-color: #ffd92c;
}


/* *** blue row *** */

main .blue-row {
    width: 100%;
    height: 300px;
    background-color: #b5d1e8;
}

main .row-container {
    width: 70%;
    margin: 0 auto;
}

main #row-text {
    padding: 100px 0;
    color: #610227;
}

main .blue-row .row-btn {
    width: 30%;
    margin: 120px;
}

/* *** sezione faq *** */
main .main-container .faq {
    width: 100%;
    margin-bottom: 150px;
}

#full_line {
    width: 100%;
    color: lightgray;
    margin: 30px 0;
}

main .main-container .faq li {
    font-weight: 600;
    list-style: none;
}

main .main-container .faq li .fa-chevron-down {
    margin-left: 300px;
}

/* *** footer *** */

footer {
    width: 100%;
    background-color: black;
}

footer .footer-container {
    width: 80%;
    margin: 0 auto;
}

footer .footer-menu {
    width: calc(100% / 5 - 36px);
}

.footer-menu:not(:first-child):not(:last-child) {
    margin: 0 30px;
}

/* .faq section h2 {
    font-size: 35px;
} */

/* *** debug *** */
/* .debug header {
    border: 1px solid black;
}

.debug #logo {
    height: 100px;
    background-color: blue;
}

.debug .nav-1,
.debug .nav-2 {
    height: 100px;
    border: 1px solid white;
    background-color: green;
}

.debug #login {
    height: 100px;
    background-color: aquamarine;
} */

/* .debug .prezzi {
    background-color: lightyellow;
    height: 1000px;
} */

/* .debug .circle {
    background-color: mediumpurple;
    border: 1px solid black;
} */

/* .debug .col {
    background-color: mediumvioletred;
    border: 1px solid black;
    height: 300px;
} */

/* .debug .row {
    height: 150px;
    background-color: orange;
} */
/* .debug .main-container .content-middle {
    width: 100%;
    background-color: lightskyblue;
}

.debug .foto {
    height: 300px;
    background-color: lightgreen;
}

.debug .foto-text {
    height: 300px;
    background-color: lightseagreen;
} */

/* .debug .dropbox-cards {
    height: 50px;
    background-color: lime;
}

.debug .card {
    height: 300px;
    background-color: magenta;
    border: 1px solid black;
}

.debug .card .pic {
    height: 150px;
    background-color: coral;
}

.debug .card .caption {
    height: 150px;
    background-color: turquoise;
} */

/* .debug .main-bottom {
    background-color: violet;
} */

/* .debug main .box-container {
    height: 400px;
    background-color: gray;
} */

/* .debug main .box-sx {
    background-color: steelblue;
} */

/* .debug main .box-dx {
    background-color: goldenrod;
} */

/* .debug main .row-container {
    height: 100px;
    background-color: aquamarine;
} */

/* .debug .faq {
    height: 200px;
    background-color: blue;
} */

.debug .footer-container {
    height: 200px;
    background-color: lightpink;
}

.debug .footer-menu {
    height: 200px;
    background-color: magenta;
    border: 1px solid black;
}

.debug .footer-menu .title {
    height: 50px;
    background-color: mediumslateblue;
}